################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/f1/ProjectConfig/.vs/ProjectConfig
/f1/ProjectConfig/PublisherApp/obj/Debug/net6.0
